/*.toggle-menu {
  position: relative;
  font-size: 4rem;
  z-index: 5000;
  color: #333;
  top: -0.5rem;
  left: 1.5rem;
  transition: all 0.4s ease-in-out; }
  .toggle-menu:hover {
    transition: all 0.4s ease-in-out;
    color: gray; }

.overlay-menu {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  margin: 0;
  padding: 5rem 0 0;
  opacity: 0;
  list-style: none;
  background: url("http://www.nasa.gov/sites/default/files/cygx1_ill.jpg") no-repeat center center;
  background-size: cover;
  text-align: center;
  transform: translateX(-100%) rotateX(40deg);
  transition: all 400ms cubic-bezier(1, -0.4, 0.44, 0.985); }
  .overlay-menu li {
    font-size: 1.5rem; }
  .overlay-menu a {
    display: block;
    color: #fff;
    font-weight: bold;
    height: 6.25rem;
    line-height: 6.25rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    text-decoration: none; }
    .overlay-menu a:hover {
      background-color: #0f88ff; }
  .overlay-menu.is-open ~ .toggle-menu {
    display: inline-block;
    transition: all 0.4s ease-in-out;
    transform: rotate(135deg);
    color: white; }

.is-open {
  top: 0;
  opacity: 1;
  transform: perspective(200px) translateX(0) rotateX(0); }

*/
.lorem{
  padding:30%;
}


/* Preloader */
.no-js #loader{
  display: none;
}

.js #loader{
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}
.se-pre-con{
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../img/preloader.gif) center no-repeat #fff;
}

/*Single Page Navigation*/
a {
     outline: 0;
 }
 
.single-page-nav {
    background: rgba(0,0,0,0);
    padding: 0em 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.single-page-nav ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    width: 80%;
    overflow: hidden;
}

.single-page-nav li {
    float: left;
    width: 24.75%;
    text-align: center;
}

.single-page-nav a {
    display: block;
    color: #fff;
    text-decoration: none;                
    font-size: 1.5em;
    font-weight: 700;
}

.single-page-nav a:hover, 
.single-page-nav .current {
    color: #38acec;
}

.section {
    width: 80%;
    padding: 1.25em 0;
    margin: 0 auto;
    background: #eee;
    border-top: 1px solid #bbb;
}

#section1 {
    padding-top: 5em;
}
/*      END SINGLE-PAGE-NAV STYLESHEET     */

/*      BACK TO TOP BUTTON                  */
#back-top {
  position: fixed;
  bottom:20px;
  right: 2%;
  z-index: 100; }
